<article>
  <h1>Variável de template</h1>
  <input type="text" #texto (keyup)="imprime(texto.value)">
  <p>{{frase}}</p>
</article>
<article>
    <select #tema (change)="mudaTema(tema.value)">
      <option value="tema1">Tema 1</option>
      <option value="tema2">Tema 2</option>
      <option value="tema3">Tema 3</option>
    </select>
    <p [class]="modo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum vel nulla quisquam ex, soluta veritatis distinctio sed autem. Incidunt id, dolores rerum non nam sapiente ullam nesciunt eius dolor!</p>
</article>
<article>
  <input type="text" #cor (keyup.enter)="mudaCor(cor.value)">
  <input type="text" #fonte (keyup.enter)="mudaFonte(fonte.value)">
  <input type="text" #tamanho (keyup.enter)="mudaTamanho(tamanho.value)">
  <p
  [style.color]="guardaCor"
  [style.fontFamily]="guardaFonte"
  [style.font-size]="guardaTamanho"
  
  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repellat tempore magnam nesciunt, aperiam rerum sapiente maxime atque unde minus accusamus laborum cupiditate corrupti libero soluta. Vitae omnis rem cum.</p>
</article>
<article>
    <input type="text" (click)="enxerga($event)">
</article>

<article><app-header></app-header></article>